.grup-detail table.center {
    width: 40%;
}

.grup-detail h5 {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 5%;
    font-weight: bold;
}

.grup-detail .center td:first-child {
    width: 25%;
}

.tabel-peran, .table-peran th {
    border: 1px solid #bdbdbd;
}

.tabel-peran {
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    float: left;
}

.tabel-peran th {
    color: #093697;
    height: 30px;
    padding-left: 20px;
    font-weight: bold;
}

.tabel-peran td {
    height: 30px;
    padding-left: 20px;
}

.tabel-peran td:first-child {
    border-right: 1px solid #bdbdbd;
    width: 50%;
}

.grup-detail .form-button {
    margin-top: 30px;
}

.tabel-peran tr:nth-child(2){
    border: solid 1px #bdbdbd;
}

table input, table label {
    margin: 0;
}