.modul>.nav-wizard>li {
    width: 50%;
}

.modul-tambah-1 .form-button {
    margin-top: 100px;
}

.modul-tambah-2 .btn-primary {
    width: 110px;
}

.modul-tambah-2 .panel {
    margin-left: 160px;
}