.error-content {
    padding-top: 50px;
}

.error-content img {
    width: 250px;
}

.error-content h1 {
    margin: 50px auto;
    font-size: 144px;
    color: #093697;
    font-weight: bold;
}

.error-content h3 {
    font-size: 36px;
    color: #555555;
    margin-bottom: 20px;
}

.error-content p {
    color: #bdbdbd;
}

.error-content .btn {
    padding-top: 10px;
    margin-top: 30px;
    width: 250px;
    font-weight: bold;
    font-size: 14px;
}