.lost-connection-wrapper {
    padding-top: 100px;
}

.lost-connection-wrapper p {
    color: #555555;
    padding-top: 10px;
    padding-bottom: 10px;
}

.lost-connection-wrapper .btn {
    width: 200px;
}

.lost-connection-wrapper .fa {
    font-size: 16px;
    margin-right: 5px;
}